/*******************
General
********************/
* {
	box-sizing:border-box;

}

body {

	font-family: 'Lato', sans-serif;
	text-align: center;
	background-color: #3498db;
}

hr {
	margin-top: 4em;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, #9AD1F5, #2980b9, #9AD1F5);
    background-image: linear-gradient(to right, #9AD1F5, #2980b9, #9AD1F5);
    max-width: 90%;
}

.wrapper {
	margin:0 auto;
}

a{
	text-decoration:none;
}

a:visited {
	text-decoration:none;
}

.site-name {
	margin-top: 0;
	padding-top: 5px;
	color: #C5EFF7;
	font-family: 'Indie Flower', cursive;
	font-size: 3.5em

}

.site-name- {
    font-family: 'Exo', sans-serif;
    margin-top: -20px;    
    color: #C5EFF7;
}
.container {
  width: 80%;
  padding:0 5%;
  margin: auto;
	
}

img {
	max-width:100%;
}

h2 {
	color:#fff;
}

p {
	font-size: 1.1em;
	line-height: 150%;
	color: #C5EFF7;
}
/*******************
Navigation
********************/

nav {
	text-align: center;
	padding-top: 5px;
}

nav ul {
	list-style:none;
	padding-bottom:30px;
}

nav ul li {
    font-size: 1.25em;
	margin:10px 0;
	padding:10px 0;
	margin-right:20px;
	background-color:#2980b9;

}

nav a {
	font-weight:800;
	padding: 10px 0px;
	color: #C5EFF7;
	
}

/* Selected nav link */
h1, h1 a, nav a, nav a:visited {
	color: #C5EFF7;
}

li a, li a:visited {
	color: #C5EFF7;
}

nav a.selected, nav a:hover { 
	color:#CD5360;
}
 a:hover { 
	color:#CD5360;
}

.site-name {
	margin:0;
	text-align: center;
}

header {
	margin:0;
}

/*******************
Page Portfolio
********************/



section {
	text-align: center;
}

.portfolio-title{
	padding-bottom: 40px;
	 font-family: 'Exo', sans-serif;
	font-size:2em;
	color:#fff;
}


#portfolio  {
    background-color:#CD5360;
	margin:0;
	padding:0 7.5%;
	padding-top:40px;
	padding-bottom: 30px;
	
}

#portfolio ul {
	padding: 0;
	list-style:none;
}

#portfolio p {
    padding-bottom: 40px;
	
}

#portfolio li img {

border: 10px solid hsla(0, 0%, 100%, 1);
}

.portfolio-image li {
	margin:2.5%;
	background-color: #fff;
	color: #bdc3c7;
}

.portfolio-image li a p {
	margin: 0;
	padding: 5%;
	font-size: 0.75em;
	color: #bdc3c7;
}


/*******************
SKILLS
********************/

#skills
{   background-color:#6BB9F0;
    padding:2.5% 5%;
    padding-bottom:40px;
    margin:0px auto;
    box-shadow: 0 1px 4px rgba(0,0,0,.5);

}

#skills h2 {
    font-family: 'Exo', sans-serif;
	font-size:2em;
	color:#fff;
}

#skills p 
{
	padding-bottom:25px;
	font-size: 1.5rem;
	color:#fff;
}
#skills hr {
	margin-top:0;
	max-width: 40%;
}

#skills ul {

	margin-left:-25px;

}



#skills ul li {

	font-size: 1.2em;
	margin:10px auto;
	padding:10px 0px;
	color: #3498db;
	list-style:none;
	background-color:#2980b9;
	padding-bottom: 15px;
	max-width: 400px;

}

/*******************
CONTACT 
********************/


#contact 
{
	background-color: #3498db;
    padding:0 5%;
    padding-top:40px;
}

#contact h2 {
    font-family: 'Exo', sans-serif;
	font-size:2em;
	color:#fff;
}

#contact p 
{
	padding-bottom:25px;
	color:#fff;
}
.contact-info li {
	list-style: none;
	display: inline-block;
	color:#fff;
}

.contact-info li.phone {
	margin-left:-100px;
	padding-right: 10px;
}

.contact-info li.mail {
	margin-left: -15px;
	padding-right: 10px;
}

/*******************
FOOTER
********************/
footer {
	
	margin:0 auto;
	background-color: #3498db;
	margin-bottom: 25px;
}

footer ul {
	list-style:none;
}

.footer-sitename {
	font-family: 'Indie Flower', cursive;
	font-size:21px;
    float:left;
	margin-left:5%;
	text-align: left;
	width:30%;
	color:#fff;
}

.footer-text {
	float:right;
	margin-right: 7.5%;
	text-align: right;
	width:50%;
}

footer ul li {
	display:none;
}

footer a:visited {
	color:#fff;
}

footer a:hover {
	color:#CD5360;
}

/* ---- Float clearfix ---- */

       .clearfix::after {
		content: " ";
		display: table;
		clear: both;
	}
/*******************
RESPONSIVE 768px
********************/

@media screen and (min-width:768px) 

{
nav ul li {
	display:inline-block;
	padding: 0px 40px;
	background-color: #3498db;
}

.profile-image {
	float:right;
	width:45%;
	padding-bottom: 40px;
	padding-left: 40px;
	opacity: .9;
}
.container {
	width:100%;
}
.container p {
	text-align:left;
	font-size: 1.2rem;
	padding-bottom: 40px;
	letter-spacing: 1.3px;
}

#portfolio {
    padding: 0 5%;
    padding-top: 30px;
 }

#portfolio li {
	display:inline-block;
	width:45%;
	vertical-align: top;
	margin: 3% 1%;
	
}

section {
	padding:0;
	margin:0;
}
#skills ul li {
	width:50%;
	display: inline-block;
	margin:1% 2.5%;
}

#contact p,
#contact li  {
	font-size:1.3rem;
}

.footer-text {
	display: none;
}

footer ul li {
	display: inline-block;
	padding:0 15px;
}

.footer-nav {
    float:right;
	margin-right: 5%;
	text-align: right;
	
	
}
	
}

/*******************
RESPONSIVE 1224px
********************/



@media screen and (min-width:1224px) {

.nav-right {
	float:left;
	margin-left:2.5%;
	text-align:left;

}

.main-nav {
	float:right;
	width:65%;
	
	text-align:right;
	margin-top:15px;
}

.site-name {
	margin-left:-15px;
}
header {
	max-height: 1200px; 
	padding-bottom: 2.5%;
}

.container p {
	font-size:1.5em;

}

.profile-image {
	width:40%;
	padding-bottom:7.5%;
}


#portfolio {
	
	box-shadow: 0 1px 4px rgba(0,0,0,.4);
	margin:0 auto;
}

#portfolio li {
	width:30%;
	}


#skills ul {

	


}


#skills ul li {
	width:50%;
	display: inline-block;
	margin:1% 2.5%;
}




#contact {
	margin:10px 20%;
}
.flip-container:hover .flip {
	-webkit-transform: rotateY(180deg);
	transform: rotateY(180deg);
	border: 10px solid #2980b9;
	opacity: .7;
}

.flip {
    -webkit-transition: 1.2s;
    transition: 1.2s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    position: relative;
    opacity: 1;
    }


}




